header{
    background-color: #1F2937 ;
}

.logo{
    inline: block;
    padding: 10px 100px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    display: flex;
    padding: 10px 100px;
    list-style: none;
}

.nav-links a{
    display: inline-block;
    padding: 5px 15px;
    color: #E5E7EB;
}

.hero-container{
    background-color: #1F2937;
    display: flex;
    flex-wrap: nowrap;
}

.hero-container div{
    flex-basis: 50%;
    padding: 150px 100px;
}

.hero-content h1{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.hero-content p{
    color: #E5E7EB;
    font-size: 18px;
}

.button{
    background-color: #3882F6;
    color: #E5E7EB;
}

.hero-img{
    display: flex;
    flex-direction: column;
}

.information-container{
    background-color: #F9FAF8;
    text-align: center;
    padding: 96px 0 48px 0;
}

.information-container h2{
    text-align: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
}

.information-grid{
    display: flex;
    justify-content: center;
    flex-direction: row wrap;
    gap: 48px;
    padding-bottom: 100px;
}

.information-content{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.quote-container{
    background-color: #E5E7EB;
    padding: 100px 100px;
}

.quote-paragraph{
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
    text-align: center;
}

.quote-author{
    font-size: 18px;
    font-weight: bold;
    text-align: end;
}

.signup-container{
    display: flex;
    padding: 100px 100px;
    justify-content: center;
}

.signup-inner{
    display: flex;
    flex-flow: row nowrap;
    background-color: #3882F6;
    padding: 20px 30px;
    justify-content: center;
    
}

.signup-text{
    font-size: 18px;
    color: white;
    padding:10px 30px
}
.signup-text h2{
    font-weight: bold;
}

.signup-button{
    display: flex;
    align-items: center;
}
.signup-inner button{
    height: 50px;
    width: 100px;   
}

footer{
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    padding: 50px 0;
}

